/target/

# NetBeans specific #
nbproject/private/
core
nbproject/*
build/
nbbuild/
dist/
!nbproject/project.properties
!nbproject/project.xml
nbdist/
nbactions.xml
nb-configuration.xml

#java specific
*.class

# Package Files #
*.jar
*.war
*.ear

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock